:root {
    --main-color: #ededed;
    --accent-color: #d40126;
    --dark: #606060;
  }

html, body{
    font-family: Allerta;
    padding: 0;
    margin: 0;
    top: 0;
    height: fit-content;
    width: 100%;
}

#navbar{
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    font-size: 1.5em;
    min-height: 2.5em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.3);
    color: var(--accent-color);
    top: 0;
    position: sticky;
    background-color: #ffffff;
    z-index: 1;
}

#navpart1{
    display: flex;
    flex-direction: row;
    width: 75%;
}

#navpart1 div{
    padding-top: 0.5em;
    padding-right: 2em;
    padding-left: 1em;
}

#navpart2{
    display: flex-end;
    flex-direction: row;
    padding-top: 0.5em;
    margin-left: auto;
}

#navbar a{
    text-decoration: none;
    color: inherit;
}

#navbar a:hover{
    background-color: var(--accent-color);
    color: var(--main-color);
}

button{
    font-family: Allerta;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    height: 1.5em;
    border-radius: 5px;
    border-style: none;
}

.redButton, .greyButton:hover{
    background-color: var(--accent-color);
    color: var(--main-color)
}

.greyButton, .redButton:hover{
    background-color: var(--main-color);
    color: var(--accent-color)
}

#worldMap{
    width: 100%;
}

#feed{
    display: grid;
    grid-template-areas: "a b b c";
    grid-gap: 5em;
}

#name{
    display: flex;
    flex-direction: row;
}

#profileBox, #postSmthg, #post{
    grid-area: a;
    max-width: 95%;
    height: fit-content;
    border-radius: 5px;
    border-style: solid;
    border: 1px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.3);
    margin: 2em;
    padding: 1em;
}

#profile{
    margin-top: 0.25em;
    margin-right: 0.25em;
    font-size: 3em !important;
}

ul{
  list-style: none;  
}

li i{
    font-size: 1em !important;
    margin-right:0.25em;
    color: var(--accent-color);
}

#postSmthg{
    grid-area: b;
    display: flex;
    flex-direction: row;
}

input{
    border: none;
    font-family: Allerta;
    font-size: 1em;
}

#upload{
    margin-left: auto;
    color: var(--accent-color);
}

#attachedMedia{
    width: 95%;
}

#nameSuggestions{
    display: flex;
    flex-direction: column;
    color: var(--dark);
    position: sticky;
}

.nameSamples{
    display: flex;
    flex-direction: row;
    height: 2em;
}

.nameSamples i{
    margin-top: 0.65em;
    margin-right: 0.25em;
}

